<?xml version="1.0" encoding="UTF-8"?>

<!--
Help:
sink - equals to a sink type. Possible values: tcp, udp
active - is the flag, to decide, if this stream is active or not. Possible values: true, false.
ip - is used in case of sink=udp and is the target address.
port - is the TCP-Socket-Port or in case of sink=udp the target port.
nroftracks - equals to the number of generated tracks.
sleeptime - is the length of the time break, when an AIS route is reinitialized again.
-->

<configs>
	<config type="adsb" sink="tcp" active="false" ip="" port="10300" nroftrack="1" offset="0"/>
	<config type="ais" sink="tcp" active="false" ip="" port="10200" nroftrack="1" sleeptime="600000" offset="0" />
	<config type="radar" sink="tcp" active="true" ip="" port="10400"/>
	<config type="gps" sink="tcp" active="false" ip="" port="10500"/>
	<config type="weather" sink="tcp" active="false" ip="" port="10600"/>
	<config type="course" sink="tcp" active="false" ip="" port="10700"/>
</configs>